<?xml version="1.0" encoding="utf-8" ?>
<configuration>



	<appSettings>
		<!--Credenciais-->

		<add key="dbHost" value="localhost"/>
		<add key="dbPort" value="5432"/>
		<add key="dbName" value="Company"/>
		<add key="dbUser" value="postgres"/>
		<add key="dbPass" value="1234"/>
	</appSettings>
</configuration>